body {
  font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center; 
    letter-spacing: 20px; 
}

*{ 
    box-sizing:border-box; 
}

/*menu */ 

.navbar {
    display: flex; 
    justify-content: center; 
    align-content: center; 
    overflow: hidden;
    background-color: #333;
    align-self: center;
    height: 70px; 
}

.navbar a {
    display: flex; 
    justify-content: center; 
    align-content: center;
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    width: 120px;
}

.dropdown {
    display: flex; 
    float:left;  
    overflow: hidden;
    width:120 px;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}
.dropdown-content {
      margin-top: 70px; 
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 50px;
        max-width: 120px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*body */
p{
    text-align: center; 
}
.center{
    display: flex; 
    align-content: center; 
    justify-content: center; 
    margin: auto; 
    
}