<!doctype html>
<html>
    <head>
        <title>Shape Practice</title>
        <link rel="stylesheet" href = "styles.css">
    </head>
    <body>
       <!--<div class="block"> block element </div>
        <div class="block"> block element </div>
        <span> inline element </span>
        <span> inline element </span>
        <span> inline element </span>
        <span> inline element </span> -->
        
        
        <!-- Class excise --> 
        <div class="main-container"> 
            <div class="top-row"> 
                <div class="top-item_1">
                    <div class="fish-top-body"> 
                        <div class="fish-blank-body">  </div>
                        <div class="fish-blank-body">  </div>
                        <div class="fish-blank-body">  </div>
                        <div class="fish-blank-body">  </div>
                    </div>
                </div>
                <div class="top-item_2"> 
                    <div class="fish-tail-top">  </div>
                    <div class="fish-tail-bottom"> </div>
                    <div class="fish-tail-top">  </div>
                    <div class="fish-tail-bottom"> </div>
                </div>
            </div> 
            <div class="bottom-row">  
                <div class="left-half">
                     <div class="fish-bottom-body">
                        <div class="fish-bottom-blank-body"> </div>
                         <div class="fish-bottom-blank-body"> </div>

                    </div>
                </div>
                <div class="right-half"> 
                    <div class="fish-head">  
                        <div class="fish-eye">  </div>
                        <div class="fish-eye">  </div>
                        <div class="fish-eye">  </div>
                    </div>
                </div>
            </div>
        </div>

        
       
    </body>
</html>
