
*{ 
    box-sizing:border-box; 
}

/*#box{
    background-color:beige;
    position:fixed; 
    top:0; 
    right:0; 
    height:300px; 
    width:100px; 
}*/ 

/*jQuery CSS line */
/* https://github.com/aamirafridi/jQuery.Marquee*/
.marquee {
  width: 100%; /* the plugin works for responsive layouts so width is not necessary */
  overflow: hidden;
  border:1px solid #ccc;
    font-size: 40px; 
    background-color: burlywood; 
}
/*draggable */
.draggable{
    cursor:grab;
    width:300px; 
    height:300px;
    background-color: rgb(189, 221, 176); 
}

button{
    border-radius: 50%; 
    background-color: rgb(137,196, 140);
    border:none; 
    cursor: cell; 
    padding: 20px; 
}
button:hover{
    background-color: yellow; 
}
.sidebar{
    background-color: coral;
    position: fixed; 
    top:0; 
    right:-100px;
    height: 300px;
    width:100px;
    padding: 20px;
    transition: right .5s; 
    
}
.sidebar_2{
    background-color:blueviolet; 
    position: fixed; 
    right:0; 
    top:-300px;
    height: 300px;
    width:100px;
    padding: 20px;
    transition: top .5s; 
    
}
.active {
    top:0;
    right:0; 
}
.circle{
    height:100px ;
    width:100px;
    background-color: blueviolet;
    border-radius: 50%; 
}
