html {
    background: #6495ED; 
    margin-top: 20px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
}
/*head {
    background-color: antiquewhite;
    font-family: "Times New Roman";
    
}*/  
body{
    font-family:inherit; 
    background-color:floralwhite;
    margin:0;
    
    
}
h1 {
    background-color: antiquewhite;
    text-align: center;
    font-family: sans-serif;
    color:burlywood;
}
h1 {
    background-color: antiquewhite;
    text-align: center;
    font-family: "Times New Roman";
    color:black;
    font-size: 40px;
    margin-top:0; 
}
h2 {
    background-color:#E9F7EF;
    text-align: center;
    font-family: sans-serif;
    color:#9FE2BF; 
}
h3 {
    background-color: #F4ECF7;
    text-align: center;
    font-family: sans-serif;
    color:burlywood;
}
h4 {
    background-color: #F7C2F2;
    text-align: center;
    font-family: sans-serif;
    color:darkcyan;
}
h5 {
    background-color: #D6EAF8;
    text-align: center;
    font-family: sans-serif;
    color:burlywood;
}
h6 {
    background-color: #D4EFDF; 
    text-align: center;
    font-family: sans-serif;
    color:burlywood;
}
.special{
    background: #6495ED;
    font-size: 3o px;
}
p{
    /*background-color: rgb(100,30,90);*/
    background-color:lightblue; 
    text-align: center;
    font-size: 25px;
    color:black; 
    /* border-width: 6px;
    border-style: solid;
    border-color:antiquewhite;*/
    
    /* if there are two same element linem, it will run the bottom code.*/
    /*border:6px solid darkgreen;*/
    border:8px dashed darksalmon;
    padding: 40px;
    padding: 10px;
    margin:50px;
    
}
div{
    font-size: 10px; 
}
img{
    max-width:100%;
    width:200px;
}
small-image{
    max-width:100%;
}
a{
    background: none;
}
a:hover{
    background-color:orange;
}
a:focus{
    background-color:pink;
}

button{  
    background-color:white; 
    margin-right: 45%;
    margin-left:45%;
    
}

button:hover{
    background-color:skyblue; 
}

button:focus{
    background-color:darkorchid; 
}
