
*{ 
    box-sizing:border-box; 
}

.container{
    background-color: red; 
    display: flex; 
    flex-direction: row;
    width: 100vw;  
    height: 100vh; 
}

.leftbox{
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content:center; 
    align-items: center; 
    width: 20vw;
    height:100vh;
}
.fork{
    background: url(fork.png);
    display: flex;
    width:16vw;
    height:80vh;
    background-position: center;
    background-repeat: no-repeat; 
    background-size:contain;
}
.middlebox{
    background-color:beige;
    flex-direction: row;
    justify-content:center; 
    align-items: center; 
    display: flex; 
    width:60vw;
    height: 100vh;
    
}
/*.plate{
    background:url("plate.png");
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width:93%;
    height: 93%;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
} 
 */

.plate{
    background:url("plate_alarm.png");
    display: flex; 
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    align-content:center;
    flex-wrap:wrap; 
    width:93%;
    height: 93%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain; /* Resize the background image to cover the entire container */
}

.link{
    text-align: center; 
    position: absolute;
    width:33.33%;
    height:33.33%;;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: contain; 
    top:65%;
    right:33.33%;
    /*z-index: -1;*/  
}

.sticker{ 
    position: relative; 
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    align-content:center;
    flex-wrap:wrap; 
    width:60%;
    height: 60%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.sticker:hover{
    animation: shake 5s infinite;
}

@keyframes shake {
  from {transform: rotate(-20deg);}
  to {transform: rotate(30deg);}
}

/*sticker*/
/*position: absolute*/
.sticker_1{
    position: absolute;
    background:url(arrivals.png);
    width:33.33%;;
    height:33.33%;;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: contain; 
    top:40%;
    right:35%;
}
.sticker_2{
    position: absolute;
    background:url(away.png);
    width:33.33%;;
    height:33.33%;;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: contain; 
    top:30%;
    right:10%;
}
.sticker_3{
    position: absolute;
    background:url(besttrip.png);
    width:33.33%;;
    height: 33.33%;;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: contain; 
    top:28%;
    right:60%;
    transform: rotate(30deg);
}
.sticker_4{
    position: absolute;
    background:url(letsgo.png);
    width:33.33%;;
    height:33.33%;;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: contain; 
    top:70%;
    right:40%;
}
.sticker_5{ 
    position: absolute; 
    background:url(makingstory.png); 
    width:33.33%;;
    height: 33.33%;;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: contain; 
    top:70%;
    right:15%;
}
.sticker_6{
    position: absolute; 
    background:url(roadtrip.png);
    width:33.33%;;
    height: 33.33%;;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: contain; 
    top:45%;
    right:5%;
}

.sticker_6{
    position: absolute; 
    background:url(roadtrip.png);
    width:33.33%;;
    height: 33.33%;;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: contain;
    top:45%;
    right:5%;
}
.sticker_7{
    position: absolute;
    background:url(herewego.png);
    width:33.33%;;
    height: 33.33%;;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: contain; 
    top:55%;
    right:60%;
    transform: rotate(-20deg);
}
.sticker_8{
    position: absolute;
    background:url(goexplore.png);
    width:33.33%;;
    height: 33.33%;;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: contain; 
    top:80%;
    right:50%;
    transform: rotate(30deg);
}
/*right*/ 

.rightbox{
    background-color: antiquewhite; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    width: 20vw;
    height:100vh;
}

.knife{
    background: url(knife.png);
    display: flex;
    width:18vw;
    height:84vh;
    background-position: center;
    background-repeat: no-repeat; 
    background-size:contain;
}


